.scoreBarDiv {
    width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 1rem;
background-color: var(--gold);
}

.textContainer {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 0.5rem;
color: var(--red);
font-family: var(--font-logo);
font-size: calc(var(--header-MMM-size) + 0.25rem);
}