.app-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.directions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--blue-lt);
  font-family: var(--font-logo);
  font-size: var(--header-rules-size);
  /* margin: 0.5rem; */
  text-align: center;
  text-transform: uppercase;
}

img {
  height: var(--card-img-h);
  width: var(--card-img-w);
   object-fit: cover;
   transition: transform 0.5s ease;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.card-tile {
    height: var(--card-img-h);
    width: var(--card-img-w);
    background: transparent;
    margin: 0.25rem;
    transition: transform 0.5s ease;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flipping .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
      /* SEE HERE - THIS CODE BELOW MAKES ALL IMAGES VANISH */
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    backface-visibility: hidden;
    /* border-radius: 8px; */
    overflow: hidden;
}

.card-back {
  margin-top: calc(var(--card-img-h) * -1);
  transform: rotateY(180deg);
}

@media (min-width: 500px) {
  :root {
    /* --header-title-size: 1.75rem;
    --header-MMM-size: 1rem;
    --header-logo: 3.25rem; */

    --header-title-size: calc(var(--base-title-size) * var(--500px-multiplier));
    --header-MMM-size: calc(var(--base-MMM-size) * var(--500px-multiplier));
    --header-rules-size: calc(var(--base-rules-size) * var(--500px-multiplier));
    --header-logo-size: calc(var(--base-logo-size) * var(--500px-multiplier));
  }
  img, .card-tile {
    height: calc(var(--card-img-h) + var(--500px-addition));
    /* height: var(--card-img-h-500); */
  }
  .card-back {
    margin-top: calc(-1 * (var(--card-img-h) + var(--500px-addition)));
  }
}

@media (min-width: 800px) {
  :root {
    /* --header-title-size: 2.25rem;
    --header-MMM-size: 1.25rem;
    --header-logo: 4.5rem; */

    --header-title-size: calc(var(--base-title-size) * var(--800px-multiplier));
    --header-MMM-size: calc(var(--base-MMM-size) * var(--800px-multiplier));
    --header-rules-size: calc(var(--base-rules-size) * var(--800px-multiplier));
    --header-logo-size: calc(var(--base-logo-size) * var(--800px-multiplier));
  }
  img, .card-tile {
    height: calc(var(--card-img-h) + var(--800px-addition));
    /* height: var(--card-img-h-800); */
  }
  .card-back {
    margin-top: calc(-1 * (var(--card-img-h) + var(--800px-addition)));
  }
  /* .card-back {
    margin-top: calc(var(--card-img-h-800) * -1);
  } */
}

@media (min-width: 1400px) {
  :root {
    /* --header-title-size: 2.5rem;
    --header-MMM-size: 1.5rem;
    --header-logo: 5rem; */
    --header-title-size: calc(var(--base-title-size) * var(--1400px-multiplier));
    --header-MMM-size: calc(var(--base-MMM-size) * var(--1400px-multiplier));
    --header-rules-size: calc(var(--base-rules-size) * var(--1400px-multiplier));
    --header-logo-size: calc(var(--base-logo-size) * var(--1400px-multiplier));
  }
  img, .card-tile {
    height: calc(var(--card-img-h) + var(--1400px-addition));
    /* height: var(--card-img-h-1400); */
  }
  .card-back {
    margin-top: calc(-1 * (var(--card-img-h) + var(--1400px-addition)));
  }
}