
:root {
  /* COLORS */
  --white: #ede2e2;
 --black: #0c0606;
 --red: #7e4c4c;
 --gold: #c9bd79;

  /* FONTS */
  --font-logo: "amarante", sans-serif;
  --font-text: Arial, sans-serif;

  /* VARIABLES */
  --header-title-size: 1.125rem;
  --header-MMM-size: 0.75rem;
  --header-logo: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(5deg, var(--red), var(--black));
  line-height: 1.5;
}

h2 {
  color: var(--gold);
  font-family: var(--font-text);
  font-size: 1rem;
  text-transform: uppercase;
}

button {
  font: inherit;
}

*:focus {
  outline: 2px solid var(--red);
  outline-offset: 1px;
  transition: outline 0.2s ease-in-out;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card-tile {
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--black); */
  /* border-radius: 0.125rem; */
  transition: transform 0.3s ease;
    color: var(--gold);
  font-size: 1rem;
  padding: 0.5rem;
  
}

.card-tile p {

}

.card-tile:hover {
  transform: translateY(-5px);
}

img {
  height: 100%;
  width: auto;
}



@media (min-width: 500px) {
  :root {
    --header-title-size: 1.75rem;
    --header-MMM-size: 1rem;
    --header-logo: 2.75rem;
  }
  .card-tile {
    height: 13rem;
    width: 8rem;
  }
}

@media (min-width: 800px) {
  :root {
    --header-title-size: 2.25rem;
    --header-MMM-size: 1.25rem;
    --header-logo: 4.5rem;
  }
  .card-tile {
    height: 21rem;
    width: 13rem;
  }
}

@media (min-width: 1300px) {
  :root {
    --header-title-size: 2.5rem;
    --header-MMM-size: 1.5rem;
    --header-logo: 5rem;
  }
  .card-tile {
    height: 32rem;
    width: 21rem;
  }
}