:root {
  /* COLORS */
  --white: #ddddcc;
  --black: #1d1212;
  --red: #924545;
  --red-trans: #92454580;
  --gold-lt: #c6bd86;
  --gold: #edbd58;
  /* --blue-lt: #9eb1b8; */
  /* --blue-lt-trans: #9eb1b880; */
  --focus: #fff700;

  /* FONTS */
  --font-logo: "amarante", sans-serif;
  /* --font-text: Arial, sans-serif; */

  /* VARIABLES */
  
  --base-title-size: 1.125rem; /* was 1rem */
  --base-MMM-size: 0.825rem; /* was 0.725rem */
  --base-rules-size: 0.65rem; /* was 0.65rem */
  --base-logo-size: 2.125rem; /* was 2rem */

  --modal-header-size: 2rem;
  --modal-font-size: 1.5rem;
  --button-font-size: 1.25rem;

  --500px-multiplier: 1.5;
  --800px-multiplier: 2;
  --1600px-multiplier: 2.5;

  --header-title-size: var(--base-title-size);
  --header-MMM-size: var(--base-MMM-size);
  --header-rules-size: var(--base-rules-size);
  --header-logo-size: var(--base-logo-size);

  --card-img-h: 9rem; /* was 8.25rem */
  --card-img-w: calc(0.5 * (var(--card-img-h) + 0.125));
  --500px-addition: 4rem; /* was 6rem */
  --800px-addition: 8rem; /* was 12rem */
  --1600px-addition: 16rem; /* was 20rem */

  --card-container-max-w: 1650px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(5deg, var(--red), var(--black));
  line-height: 1.5;
}
